*, *::before, *::after {
    box-sizing: border-box;     
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

body {
    background-image: url(table.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.cards-el-div {
    background-image: url(table-black-jack.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    padding-top: 5em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.cards {
    width: 10%;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: goldenrod;
    line-height: 2em;
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.5rem;
}

#player-el #sum-el {
    color: white;
}

#message-el {
    color: white;
    line-height: 2em;
    padding: 0;
    margin: 0;
}

/* Buttons */

button {
    color: white;
    border-radius: 10px;
    background-color: goldenrod;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    width: 300px;
    font-size: 1.5rem;
}

/* NAME BOX */

.name-box {
    width: 575px;
    height: 200px;
    background-color: goldenrod;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
    color:#016f32;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 3rem;
}

.name-box button {
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 30%;
    font-size: 1.5rem;
    background-color: #016f32;;
}

.name-box input {
    border-radius: 2px;
    width: 90%;
    height: 30%;
    font-size: 1.5rem;
}

#backdrop {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
}

/* MEDIA */

/* TABLETS and above */

@media screen and (max-width: 768px) {
    
}