body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-image: url("table.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 3rem;
    margin-top: 0px;
    color: goldenrod;
}

#message-el {
    font-style: italic;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-top: 0px;
}

button {
    color: #016f32;
    width: 150px;
    height: 40px;
    background-color: goldenrod;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin-bottom: 0px;
    margin-top: 2px;
}

.cards-el-div {
    background-image: url("./table-black-jack.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 11%;
}

.div-btn {
    display: flex;
    gap: 10px;
}

.name-box {
    background-color: goldenrod;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
    color:#016f32;
    border-radius: 5px;
    padding: 16px 20px;
}
.name-box button {
    border-color: #016f32;
    border: 2px solid;
    border-radius: 5px;
}

.name-box input {
    border-radius: 2px;
}

#backdrop {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
}